.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:darkred;

}

li{
    list-style-type: none;
    
}

.outer{
    height: 300px;
    width: 300px;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 150px;
    width: 150px;
    background-color:dodgerblue;
}