div{
    background-color: pink;
    height: 100px;
    width: 400px;
    border-width:2px;
    border-style:solid;
    border-color:rgb(227, 76, 76);
    text-align:center;
    padding-left: 20px;
    padding-top:15px;
}

h1{
    width:200px;
    background-color:aqua;
    /*border-width:3px;
    border-style:dashed;
    border-color:cadetblue;*/
    border: 3px dashed cadetblue;
    text-align:center;
}

#one{
    text-align:center;
    height:150px;
    width:200px;
    border-radius:20px;
    background-color:blueviolet;
    border-width:3px;
    padding: 3px 4px 5px 6px;
    margin:50px;

}

#two{
    text-align:left;
    height:200px;
    width:200px;
    border-radius:50%;
    background-color:brown;
    border:4px dashed darksalmon;
    margin: 10px 20px 30px 40px;
}


h2{
    text-align: center;
    background-color:aqua;
    margin: 0px 600px 0px 600px;
    border: 3px dashed cadetblue;
}


#box1{
    height:100px;
    width:100px;
    background-color: red;
    margin:20px;
    padding: 20px;
    display: inline-block;
}

#box2{
    height:100px;
    width:100px;
    background-color: green;
    margin:20px;
    padding: 20px;
    display: inline-block;
    visibility: hidden;
    
}

#box3{
    height:100px;
    width:100px;
    background-color: blue;
    margin:20px;
    padding: 20px;
    display: inline-block;
}
